HarnessAnalyzer/Solution/Documentation/EntireCarSettings.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Mit XMLSpy v2014 rel. 2 (x64) (http://www.altova.com) von Martin (Zuken E3 GmbH) bearbeitet -->
<!-- W3C Schema generated by XMLSpy v2014 rel. 2 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="EntireCarSettings">
		<xs:annotation>
			<xs:documentation>Root entry</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CreatedBy" type="xs:string"/>
				<xs:element name="CreatedOn" type="xs:dateTime"/>
				<xs:element name="Name" type="xs:string"/>
				<xs:element name="Harnesses">
					<xs:complexType>
						<xs:sequence minOccurs="0" maxOccurs="unbounded">
							<xs:element name="EntireCarHarness" type="Harness"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="Harness">
		<xs:sequence>
			<xs:element name="Abbreviation" type="xs:string"/>
			<xs:element name="PartNumber" type="xs:string"/>
			<xs:element name="Version" type="xs:string"/>
			<xs:element name="ActiveModules">
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="ActiveModule" type="Module"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Module">
		<xs:sequence>
			<xs:element name="Abbreviation" type="xs:string"/>
			<xs:element name="PartNumber" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
