HarnessAnalyzer/Solution/Documentation/KBL_Schema_V2.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.4 U (http://www.xmlspy.com) by *** (Prostep AG) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<!--KBL XML Schema Version 2.2 © PROSTEP AG 2003, 2004-->
	<!--Changes from V2.1 to 2.2
- General_wire, Core: attribute "Cable_designato"r starts with capital letter
- Specified_xxx_occurrence: as containment of Harness, with IDREF to Assembly_part_occurrence
- Unit: no longer containment of Numerical_value, main element now, referenced from Numerical_value by IDREF
- Fixing_assignment: attribute "Fixing" may reference an Assembly_occurrence or a Fixing_occurrence
- Module_configuration: attribute "Configuration_type" added, attribute "Controlled_components" lower bound changed to "0"
- Segment: optional attributes "Start_vector" and "End_vector" added
- Module: attribute "Name" renamed to "Id", optional attribute "Description" added
- Connector_occurrence: attribute "Connector" renamed to "Part"
- Routing: attribute "Segments" lower bound changed to "0" 
-->
	<xs:element name="KBL_schema" type="KBL_schema"/>
	<xs:complexType name="KBL_schema">
		<xs:sequence>
			<xs:element name="Harness" type="Harness" minOccurs="0"/>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="Accessory" type="Accessory"/>
				<xs:element name="Approval" type="Approval"/>
				<xs:element name="Assembly_part" type="Assembly_part"/>
				<xs:element name="Cavity_plug" type="Cavity_plug"/>
				<xs:element name="Cavity_seal" type="Cavity_seal"/>
				<xs:element name="Connector_housing" type="Connector_housing"/>
				<xs:element name="Co_pack_part" type="Co_pack_part"/>
				<xs:element name="Creation" type="Creation"/>
				<xs:element name="External_reference" type="External_reference"/>
				<xs:element name="Fixing" type="Fixing"/>
				<xs:element name="General_terminal" type="General_terminal"/>
				<xs:element name="General_wire" type="General_wire"/>
				<xs:element name="Module_configuration" type="Module_configuration"/>
				<xs:element name="Module_family" type="Module_family"/>
				<xs:element name="Node" type="Node"/>
				<xs:element name="Routing" type="Routing"/>
				<xs:element name="Unit" type="Unit"/>
				<xs:element name="Segment" type="Segment"/>
				<xs:element name="Wire_protection" type="Wire_protection"/>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" use="required"/>
		<xs:attribute name="version_id" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="Accessory">
		<xs:complexContent>
			<xs:extension base="Part">
				<xs:sequence>
					<xs:element name="Accessory_type" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Accessory_occurrence">
		<xs:sequence>
			<xs:element name="Part" type="xs:IDREF">
				<xs:annotation>
					<xs:documentation>ref to Accessory</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Id" type="xs:string"/>
			<xs:element name="Reference_element" type="xs:IDREF" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ref to Connector_occurrence</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Installation_information" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Installation_instruction" type="Installation_instruction" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Placement" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Transformation" type="Transformation"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Alias_id" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" use="required"/>
	</xs:complexType>
	<xs:complexType name="Alias_part">
		<xs:sequence>
			<xs:element name="Company_name" type="xs:string"/>
			<xs:element name="Part_number" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" use="required"/>
	</xs:complexType>
	<xs:complexType name="Approval">
		<xs:sequence>
			<xs:element name="Name" type="xs:string" minOccurs="0"/>
			<xs:element name="Department" type="xs:string" minOccurs="0"/>
			<xs:element name="Date" type="xs:string"/>
			<xs:element name="Type_of_approval" type="xs:string"/>
			<xs:element name="Is_applied_to" type="xs:IDREFS" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>ref to Part_with_title_block</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" use="required"/>
	</xs:complexType>
	<xs:complexType name="Assembly_part">
		<xs:complexContent>
			<xs:extension base="Part">
				<xs:sequence>
					<xs:element name="Part_type" type="xs:string" minOccurs="0"/>
					<xs:element name="Accessory_occurrence" type="Accessory_occurrence" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Cavity_plug_occurrence" type="Cavity_plug_occurrence" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Cavity_seal_occurrence" type="Cavity_seal_occurrence" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Co_pack_occurrence" type="Co_pack_occurrence" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Connector_occurrence" type="Connector_occurrence" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Fixing_occurrence" type="Fixing_occurrence" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="General_wire_occurrence" type="General_wire_occurrence" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Special_terminal_occurrence" type="Special_terminal_occurrence" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Terminal_occurrence" type="Terminal_occurrence" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Wire_protection_occurrence" type="Wire_protection_occurrence" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Assembly_part_occurrence">
		<xs:sequence>
			<xs:element name="Part" type="xs:IDREF">
				<xs:annotation>
					<xs:documentation>ref to Assembly_part</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Placement" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Transformation" type="Transformation"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Id" type="xs:string"/>
			<xs:element name="Installation_information" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Installation_instruction" type="Installation_instruction" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Alias_id" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" use="required"/>
	</xs:complexType>
	<xs:complexType name="B_spline_curve">
		<xs:sequence>
			<xs:element name="Degree" type="xs:integer"/>
			<xs:element name="Control_points">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Cartesian_point" type="Cartesian_point" minOccurs="2" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" use="required"/>
	</xs:complexType>
	<xs:complexType name="Cartesian_point">
		<xs:sequence>
			<xs:element name="Coordinates" type="xs:double" minOccurs="2" maxOccurs="3"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" use="required"/>
	</xs:complexType>
	<xs:complexType name="Cavity">
		<xs:sequence>
			<xs:element name="Id" type="xs:string"/>
			<xs:element name="Slot" type="xs:IDREF">
				<xs:annotation>
					<xs:documentation>ref to Slot</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Position_on_wire" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Numerical_value" type="Numerical_value"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Associated_parts" type="xs:IDREFS" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>ref to Special_terminal_occurrence, Terminal_occurrence, Cavity_seal_occurrence, Cavity_plug_occurrence</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" use="required"/>
	</xs:complexType>
	<xs:complexType name="Cavity_plug">
		<xs:complexContent>
			<xs:extension base="Part">
				<xs:sequence>
					<xs:element name="Colour" type="xs:string" minOccurs="0"/>
					<xs:element name="Plug_type" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Cavity_plug_occurrence">
		<xs:sequence>
			<xs:element name="Part" type="xs:IDREF">
				<xs:annotation>
					<xs:documentation>ref to Cavity_plug</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Part_substitution" type="Part_substitution" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" use="required"/>
	</xs:complexType>
	<xs:complexType name="Cavity_seal">
		<xs:complexContent>
			<xs:extension base="Part">
				<xs:sequence>
					<xs:element name="Wire_size" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Value_range" type="Value_range"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="Colour" type="xs:string" minOccurs="0"/>
					<xs:element name="Seal_type" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Cavity_seal_occurrence">
		<xs:sequence>
			<xs:element name="Part" type="xs:IDREF">
				<xs:annotation>
					<xs:documentation>ref to Cavity_seal</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Part_substitution" type="Part_substitution" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" use="required"/>
	</xs:complexType>
	<xs:complexType name="Change">
		<xs:sequence>
			<xs:element name="Id" type="xs:string" minOccurs="0"/>
			<xs:element name="Change_request" type="xs:string" minOccurs="0"/>
			<xs:element name="Change_date" type="xs:string" minOccurs="0"/>
			<xs:element name="Responsible_designer" type="xs:string"/>
			<xs:element name="Designer_department" type="xs:string"/>
			<xs:element name="Approver_name" type="xs:string" minOccurs="0"/>
			<xs:element name="Approver_department" type="xs:string" minOccurs="0"/>
			<xs:element name="Description" type="xs:string" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" use="required"/>
	</xs:complexType>
	<xs:complexType name="Co_pack_occurrence">
		<xs:sequence>
			<xs:element name="Part" type="xs:IDREF">
				<xs:annotation>
					<xs:documentation>ref to Co_pack_part</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Id" type="xs:string"/>
			<xs:element name="Installation_information" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Installation_instruction" type="Installation_instruction" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Alias_id" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" use="required"/>
	</xs:complexType>
	<xs:complexType name="Co_pack_part">
		<xs:complexContent>
			<xs:extension base="Part">
				<xs:sequence>
					<xs:element name="Part_type" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Connection">
		<xs:sequence>
			<xs:element name="Id" type="xs:string" minOccurs="0"/>
			<xs:element name="Signal_name" type="xs:string" minOccurs="0"/>
			<xs:element name="Extremities" type="xs:IDREFS" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>ref to Cavity</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Wire" type="xs:IDREF">
				<xs:annotation>
					<xs:documentation>ref to Wire_occurrence, Core_occurrence</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Processing_information" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Processing_instruction" type="Processing_instruction" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Installation_information" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Installation_instruction" type="Installation_instruction" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" use="required"/>
	</xs:complexType>
	<xs:complexType name="Connector_housing">
		<xs:complexContent>
			<xs:extension base="Part">
				<xs:sequence>
					<xs:element name="Housing_colour" type="xs:string" minOccurs="0"/>
					<xs:element name="Housing_code" type="xs:string" minOccurs="0"/>
					<xs:element name="Housing_type" type="xs:string" minOccurs="0"/>
					<xs:element name="Slot" type="Slot" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Connector_occurrence">
		<xs:sequence>
			<xs:element name="Placement" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Transformation" type="Transformation"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Installation_information" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Installation_instruction" type="Installation_instruction" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Part" type="xs:IDREF">
				<xs:annotation>
					<xs:documentation>ref to Connector_housing</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Id" type="xs:string"/>
			<xs:element name="Usage" type="xs:string" minOccurs="0"/>
			<xs:element name="Alias_id" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Cavity" type="Cavity" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" use="required"/>
	</xs:complexType>
	<xs:complexType name="Core">
		<xs:sequence>
			<xs:element name="Id" type="xs:string"/>
			<xs:element name="Cable_designator" type="xs:string" minOccurs="0"/>
			<xs:element name="Core_colour">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Wire_colour" type="Wire_colour" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Outside_diameter" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Numerical_value" type="Numerical_value"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Cross_section_area">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Numerical_value" type="Numerical_value"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Bend_radius" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Numerical_value" type="Numerical_value"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Wire_type" type="xs:string" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" use="required"/>
	</xs:complexType>
	<xs:complexType name="Core_occurrence">
		<xs:sequence>
			<xs:element name="Part" type="xs:IDREF">
				<xs:annotation>
					<xs:documentation>ref to Core</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Wire_number" type="xs:string"/>
			<xs:element name="Length_information">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Wire_length" type="Wire_length" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" use="required"/>
	</xs:complexType>
	<xs:complexType name="Creation">
		<xs:sequence>
			<xs:element name="Name" type="xs:string"/>
			<xs:element name="Department" type="xs:string"/>
			<xs:element name="Date" type="xs:string"/>
			<xs:element name="Is_applied_to" type="xs:IDREFS" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>ref to Part_with_title_block</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" use="required"/>
	</xs:complexType>
	<xs:complexType name="External_reference">
		<xs:sequence>
			<xs:element name="Document_type" type="xs:string"/>
			<xs:element name="Document_number" type="xs:string"/>
			<xs:element name="Change_level" type="xs:string"/>
			<xs:element name="File_name" type="xs:string" minOccurs="0"/>
			<xs:element name="Location" type="xs:string" minOccurs="0"/>
			<xs:element name="Data_format" type="xs:string"/>
			<xs:element name="Creating_system" type="xs:string" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" use="required"/>
	</xs:complexType>
	<xs:complexType name="Fixing">
		<xs:complexContent>
			<xs:extension base="Part">
				<xs:sequence>
					<xs:element name="Fixing_type" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Fixing_Assignment">
		<xs:sequence>
			<xs:element name="Fixing" type="xs:IDREF">
				<xs:annotation>
					<xs:documentation>ref to Accesory_occurrence, Fixing_occurrence</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Location" type="xs:double"/>
			<xs:element name="Orientation" type="xs:double" minOccurs="2" maxOccurs="3"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" use="required"/>
	</xs:complexType>
	<xs:complexType name="Fixing_occurrence">
		<xs:sequence>
			<xs:element name="Part" type="xs:IDREF">
				<xs:annotation>
					<xs:documentation>ref to Fixing</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Id" type="xs:string"/>
			<xs:element name="Placement" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Transformation" type="Transformation"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Installation_information" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Installation_instruction" type="Installation_instruction" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Alias_id" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" use="required"/>
	</xs:complexType>
	<xs:complexType name="General_terminal">
		<xs:complexContent>
			<xs:extension base="Part">
				<xs:sequence>
					<xs:element name="Terminal_type" type="xs:string" minOccurs="0"/>
					<xs:element name="Cross_section_area" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Value_range" type="Value_range"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="Outside_diameter" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Value_range" type="Value_range"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="Plating_material" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="General_wire">
		<xs:complexContent>
			<xs:extension base="Part">
				<xs:sequence>
					<xs:element name="Cable_designator" type="xs:string" minOccurs="0"/>
					<xs:element name="Wire_type" type="xs:string" minOccurs="0"/>
					<xs:element name="Cover_colour">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Wire_colour" type="Wire_colour" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="Bend_radius" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Numerical_value" type="Numerical_value"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="Outside_diameter" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Numerical_value" type="Numerical_value"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="Cross_section_area" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Numerical_value" type="Numerical_value"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="Core" type="Core" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="General_wire_occurrence" abstract="true">
		<xs:sequence>
			<xs:element name="Part" type="xs:IDREF">
				<xs:annotation>
					<xs:documentation>ref to General_wire</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Length_information">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Wire_length" type="Wire_length" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Installation_information" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Installation_instruction" type="Installation_instruction" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" use="required"/>
	</xs:complexType>
	<xs:complexType name="Harness">
		<xs:complexContent>
			<xs:extension base="Part_with_title_block">
				<xs:sequence>
					<xs:element name="Content" type="xs:string"/>
					<xs:element name="Module" type="Module" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Module_configuration" type="Module_configuration" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Harness_configuration" type="Harness_configuration" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Accessory_occurrence" type="Accessory_occurrence" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Assembly_part_occurrence" type="Assembly_part_occurrence" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Cavity_plug_occurrence" type="Cavity_plug_occurrence" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Cavity_seal_occurrence" type="Cavity_seal_occurrence" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Co_pack_occurrence" type="Co_pack_occurrence" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Connection" type="Connection" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Connector_occurrence" type="Connector_occurrence" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Fixing_occurrence" type="Fixing_occurrence" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="General_wire_occurrence" type="General_wire_occurrence" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Special_terminal_occurrence" type="Special_terminal_occurrence" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Terminal_occurrence" type="Terminal_occurrence" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Wire_protection_occurrence" type="Wire_protection_occurrence" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Specified_accessory_occurrence" type="Specified_accessory_occurrence" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Specified_connector_occurrence" type="Specified_connector_occurrence" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Specified_fixing_occurrence" type="Specified_fixing_occurrence" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Specified_co_pack_occurrence" type="Specified_co_pack_occurrence" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Specified_cavity_seal_occurrence" type="Specified_cavity_seal_occurrence" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Specified_cavity_plug_occurrence" type="Specified_cavity_plug_occurrence" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Specified_terminal_occurrence" type="Specified_terminal_occurrence" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Specified_special_terminal_occurrence" type="Specified_special_terminal_occurrence" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Specified_wire_protection_occurrence" type="Specified_wire_protection_occurrence" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Specified_special_wire_occurrence" type="Specified_special_wire_occurrence" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Specified_wire_occurrence" type="Specified_wire_occurrence" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Harness_configuration">
		<xs:complexContent>
			<xs:extension base="Part">
				<xs:sequence>
					<xs:element name="Logistic_control_information" type="xs:string" minOccurs="0"/>
					<xs:element name="Modules" type="xs:IDREFS" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>ref to Module</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Harness_part" type="Harness_part" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Harness_part">
		<xs:complexContent>
			<xs:extension base="Part"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Installation_instruction">
		<xs:sequence>
			<xs:element name="Instruction_type" type="xs:string"/>
			<xs:element name="Instruction_value" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" use="required"/>
	</xs:complexType>
	<xs:complexType name="Material">
		<xs:sequence>
			<xs:element name="Material_key" type="xs:string"/>
			<xs:element name="Material_reference_system" type="xs:string" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" use="required"/>
	</xs:complexType>
	<xs:complexType name="Module">
		<xs:complexContent>
			<xs:extension base="Part_with_title_block">
				<xs:sequence>
					<xs:element name="Content" type="xs:string"/>
					<xs:element name="Of_family" type="xs:IDREF" minOccurs="0">
						<xs:annotation>
							<xs:documentation>ref to Module_family</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Module_configuration" type="Module_configuration"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Module_configuration">
		<xs:sequence>
			<xs:element name="Controlled_components" type="xs:IDREFS" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>ref to Accessory_occurrence, Assembly_part_occurrence, Cavity_plug_occurrence, Cavity_seal_occurrence, Co_pack_occurrence, Connection, Connector_occurrence, Fixing_occurrence, General_wire_occurrence, Special_terminal_occurrence, Terminal_occurrence, Wire_protection_occurrence</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Logistic_control_information" type="xs:string"/>
			<xs:element name="Configuration_type" type="xs:string" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" use="required"/>
	</xs:complexType>
	<xs:complexType name="Module_family">
		<xs:sequence>
			<xs:element name="Id" type="xs:string"/>
			<xs:element name="Description" type="xs:string" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" use="required"/>
	</xs:complexType>
	<xs:complexType name="Node">
		<xs:sequence>
			<xs:element name="Id" type="xs:string"/>
			<xs:element name="Referenced_components" type="xs:IDREFS" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>ref to Assembly_part_occurrence, Connector_occurrence, Accessory_occurrence, Wire_protection_occurrence, Fixing_occurrence, Special_terminal_occurrence</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Coordinates_3D">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Cartesian_point" type="Cartesian_point"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Processing_information" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Processing_instruction" type="Processing_instruction" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" use="required"/>
	</xs:complexType>
	<xs:complexType name="Numerical_value">
		<xs:sequence>
			<xs:element name="Unit_component" type="xs:IDREF">
				<xs:annotation>
					<xs:documentation>ref to Unit</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Value_component" type="xs:double"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" use="required"/>
	</xs:complexType>
	<xs:complexType name="Part" abstract="true">
		<xs:sequence>
			<xs:element name="Part_number" type="xs:string"/>
			<xs:element name="Version" type="xs:string"/>
			<xs:element name="Predecessor_part_number" type="xs:string" minOccurs="0"/>
			<xs:element name="Degree_of_maturity" type="xs:string" minOccurs="0"/>
			<xs:element name="Description" type="xs:string"/>
			<xs:element name="Abbreviation" type="xs:string"/>
			<xs:element name="Copyright_note" type="xs:string" minOccurs="0"/>
			<xs:element name="Mass_information" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Numerical_value" type="Numerical_value"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="External_references" type="xs:IDREFS" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>ref to External_reference</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Material_information" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Material" type="Material"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Processing_information" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Processing_instruction" type="Processing_instruction" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Change" type="Change" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Alias_part" type="Alias_part" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" use="required"/>
	</xs:complexType>
	<xs:complexType name="Part_substitution">
		<xs:sequence>
			<xs:element name="Replacing" type="xs:IDREF">
				<xs:annotation>
					<xs:documentation>ref to Special_terminal_occurrence, Terminal_occurrence, Cavity_seal_occurrence, Cavity_plug_occurrence</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" use="required"/>
	</xs:complexType>
	<xs:complexType name="Part_with_title_block" abstract="true">
		<xs:complexContent>
			<xs:extension base="Part">
				<xs:sequence>
					<xs:element name="Company_name" type="xs:string"/>
					<xs:element name="Project_number" type="xs:string" minOccurs="0"/>
					<xs:element name="Car_classification_level_2" type="xs:string"/>
					<xs:element name="Car_classification_level_3" type="xs:string" minOccurs="0"/>
					<xs:element name="Car_classification_level_4" type="xs:string" minOccurs="0"/>
					<xs:element name="Model_year" type="xs:string"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Processing_instruction">
		<xs:sequence>
			<xs:element name="Instruction_type" type="xs:string"/>
			<xs:element name="Instruction_value" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" use="required"/>
	</xs:complexType>
	<xs:complexType name="Protection_area">
		<xs:sequence>
			<xs:element name="Start_location" type="xs:double"/>
			<xs:element name="End_location" type="xs:double"/>
			<xs:element name="Gradient" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Numerical_value" type="Numerical_value"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Taping" type="xs:string" minOccurs="0"/>
			<xs:element name="Associated_protection" type="xs:IDREF">
				<xs:annotation>
					<xs:documentation>ref to Wire_protection_occurence</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Processing_information" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Processing_instruction" type="Processing_instruction" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" use="required"/>
	</xs:complexType>
	<xs:complexType name="Routing">
		<xs:sequence>
			<xs:element name="Routed_wire" type="xs:IDREF">
				<xs:annotation>
					<xs:documentation>ref to Connection</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Segments" type="xs:IDREFS" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>ref to Segment</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" use="required"/>
	</xs:complexType>
	<xs:complexType name="Segment">
		<xs:sequence>
			<xs:element name="Id" type="xs:string"/>
			<xs:element name="Real_length" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Numerical_value" type="Numerical_value"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Represented_length" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Numerical_value" type="Numerical_value"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Center_curve" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="B_spline_curve" type="B_spline_curve" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Start_node" type="xs:IDREF">
				<xs:annotation>
					<xs:documentation>ref to Node</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="End_node" type="xs:IDREF">
				<xs:annotation>
					<xs:documentation>ref to Node</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:sequence minOccurs="0">
				<xs:element name="Start_vector" type="xs:double" minOccurs="2" maxOccurs="3"/>
				<xs:element name="End_vector" type="xs:double" minOccurs="2" maxOccurs="3"/>
			</xs:sequence>
			<xs:element name="Fixing_assignment" type="Fixing_Assignment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Protection_area" type="Protection_area" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" use="required"/>
	</xs:complexType>
	<xs:complexType name="Slot">
		<xs:sequence>
			<xs:element name="Id" type="xs:string" minOccurs="0"/>
			<xs:element name="Number_of_cavities" type="xs:integer"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" use="required"/>
	</xs:complexType>
	<xs:complexType name="Special_terminal_occurrence">
		<xs:sequence>
			<xs:element name="Part" type="xs:IDREF">
				<xs:annotation>
					<xs:documentation>ref to General_terminal</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Id" type="xs:string"/>
			<xs:element name="Placement" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Transformation" type="Transformation"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Installation_information" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Installation_instruction" type="Installation_instruction" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Part_substitution" type="Part_substitution" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Alias_id" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" use="required"/>
	</xs:complexType>
	<xs:complexType name="Special_wire_occurrence">
		<xs:complexContent>
			<xs:extension base="General_wire_occurrence">
				<xs:sequence>
					<xs:element name="Special_wire_id" type="xs:string"/>
					<xs:element name="Core_occurrence" type="Core_occurrence" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Specified_accessory_occurrence">
		<xs:complexContent>
			<xs:extension base="Accessory_occurrence">
				<xs:sequence>
					<xs:element name="Related_occurrence" type="xs:IDREF">
						<xs:annotation>
							<xs:documentation>ref to Accessory_occurrence</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Related_assembly" type="xs:IDREF">
						<xs:annotation>
							<xs:documentation>ref to Assembly_part_occurrence</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Specified_cavity_plug_occurrence">
		<xs:complexContent>
			<xs:extension base="Cavity_plug_occurrence">
				<xs:sequence>
					<xs:element name="Related_occurrence" type="xs:IDREF">
						<xs:annotation>
							<xs:documentation>ref to Cavity_plug_occurrence</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Related_assembly" type="xs:IDREF">
						<xs:annotation>
							<xs:documentation>ref to Assembly_part_occurrence</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Specified_cavity_seal_occurrence">
		<xs:complexContent>
			<xs:extension base="Cavity_seal_occurrence">
				<xs:sequence>
					<xs:element name="Related_occurrence" type="xs:IDREF">
						<xs:annotation>
							<xs:documentation>ref to Cavity_seal_occurrence</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Related_assembly" type="xs:IDREF">
						<xs:annotation>
							<xs:documentation>ref to Assembly_part_occurrence</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Specified_co_pack_occurrence">
		<xs:complexContent>
			<xs:extension base="Co_pack_occurrence">
				<xs:sequence>
					<xs:element name="Related_occurrence" type="xs:IDREF">
						<xs:annotation>
							<xs:documentation>ref to Co_pack_occurrence</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Related_assembly" type="xs:IDREF">
						<xs:annotation>
							<xs:documentation>ref to Assembly_part_occurrence</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Specified_connector_occurrence">
		<xs:complexContent>
			<xs:extension base="Connector_occurrence">
				<xs:sequence>
					<xs:element name="Related_occurrence" type="xs:IDREF">
						<xs:annotation>
							<xs:documentation>ref to Connector_occurrence</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Related_assembly" type="xs:IDREF">
						<xs:annotation>
							<xs:documentation>ref to Assembly_part_occurrence</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Specified_special_wire_occurrence">
		<xs:complexContent>
			<xs:extension base="Special_wire_occurrence">
				<xs:sequence>
					<xs:element name="Related_occurrence" type="xs:IDREF">
						<xs:annotation>
							<xs:documentation>ref to Core_occurrence</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Related_assembly" type="xs:IDREF">
						<xs:annotation>
							<xs:documentation>ref to Assembly_part_occurrence</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Specified_fixing_occurrence">
		<xs:complexContent>
			<xs:extension base="Fixing_occurrence">
				<xs:sequence>
					<xs:element name="Related_occurrence" type="xs:IDREF">
						<xs:annotation>
							<xs:documentation>ref to Fixing_occurrence</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Related_assembly" type="xs:IDREF">
						<xs:annotation>
							<xs:documentation>ref to Assembly_part_occurrence</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Specified_special_terminal_occurrence">
		<xs:complexContent>
			<xs:extension base="Special_terminal_occurrence">
				<xs:sequence>
					<xs:element name="Related_occurrence" type="xs:IDREF">
						<xs:annotation>
							<xs:documentation>ref to Special_terminal_occurrence</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Related_assembly" type="xs:IDREF">
						<xs:annotation>
							<xs:documentation>ref to Assembly_part_occurrence</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Specified_terminal_occurrence">
		<xs:complexContent>
			<xs:extension base="Terminal_occurrence">
				<xs:sequence>
					<xs:element name="Related_occurrence" type="xs:IDREF">
						<xs:annotation>
							<xs:documentation>ref to Terminal_occurrence</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Related_assembly" type="xs:IDREF">
						<xs:annotation>
							<xs:documentation>ref to Assembly_part_occurrence</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Specified_wire_occurrence">
		<xs:complexContent>
			<xs:extension base="Wire_occurrence">
				<xs:sequence>
					<xs:element name="Related_occurrence" type="xs:IDREF">
						<xs:annotation>
							<xs:documentation>ref to Wire_occurrence</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Related_assembly" type="xs:IDREF">
						<xs:annotation>
							<xs:documentation>ref to Assembly_part_occurrence</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Specified_wire_protection_occurrence">
		<xs:complexContent>
			<xs:extension base="Wire_protection_occurrence">
				<xs:sequence>
					<xs:element name="Related_occurrence" type="xs:IDREF">
						<xs:annotation>
							<xs:documentation>ref to Wire_protection_occurrence</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Related_assembly" type="xs:IDREF">
						<xs:annotation>
							<xs:documentation>ref to Assembly_part_occurrence</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Terminal_occurrence">
		<xs:sequence>
			<xs:element name="Part" type="xs:IDREF">
				<xs:annotation>
					<xs:documentation>ref to General_terminal</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Part_substitution" type="Part_substitution" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" use="required"/>
	</xs:complexType>
	<xs:complexType name="Transformation">
		<xs:sequence>
			<xs:element name="Coordinates_3D">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Cartesian_point" type="Cartesian_point"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:sequence minOccurs="0">
				<xs:element name="U" type="xs:double" minOccurs="2" maxOccurs="3"/>
				<xs:element name="V" type="xs:double" minOccurs="2" maxOccurs="3"/>
			</xs:sequence>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" use="required"/>
	</xs:complexType>
	<xs:complexType name="Unit">
		<xs:sequence>
			<xs:element name="Unit_name" type="xs:string" minOccurs="0"/>
			<xs:element name="Si_unit_name" type="xs:string" minOccurs="0"/>
			<xs:element name="Si_prefix" type="xs:string" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" use="required"/>
	</xs:complexType>
	<xs:complexType name="Value_range">
		<xs:sequence>
			<xs:element name="Unit_component">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Unit" type="Unit"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Minimum" type="xs:double"/>
			<xs:element name="Maximum" type="xs:double"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" use="required"/>
	</xs:complexType>
	<xs:complexType name="Wire_colour">
		<xs:sequence>
			<xs:element name="Colour_type" type="xs:string"/>
			<xs:element name="Colour_value" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" use="required"/>
	</xs:complexType>
	<xs:complexType name="Wire_length">
		<xs:sequence>
			<xs:element name="Length_type" type="xs:string"/>
			<xs:element name="Length_value">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Numerical_value" type="Numerical_value"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" use="required"/>
	</xs:complexType>
	<xs:complexType name="Wire_occurrence">
		<xs:complexContent>
			<xs:extension base="General_wire_occurrence">
				<xs:sequence>
					<xs:element name="Wire_number" type="xs:string"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Wire_protection">
		<xs:complexContent>
			<xs:extension base="Part">
				<xs:sequence>
					<xs:element name="Protection_type" type="xs:string" minOccurs="0"/>
					<xs:element name="Type_dependent_parameter" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Wire_protection_occurrence">
		<xs:sequence>
			<xs:element name="Part" type="xs:IDREF">
				<xs:annotation>
					<xs:documentation>ref to Wire_protection</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Id" type="xs:string"/>
			<xs:element name="Protection_length" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Numerical_value" type="Numerical_value"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Installation_information" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Installation_instruction" type="Installation_instruction" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Alias_id" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" use="required"/>
	</xs:complexType>
</xs:schema>
