HarnessAnalyzer/Solution/Documentation/Redlining.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2014 rel. 2 (x64) (http://www.altova.com) by florian.rappel@zuken.com (Zuken E3 GmbH) -->
<!-- Mit XMLSpy v2014 rel. 2 (x64) (http://www.altova.com) von Florian Rappel (Zuken E3 GmbH) bearbeitet -->
<!-- W3C Schema generated by XMLSpy v2014 rel. 2 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="RedliningInformation">
		<xs:annotation>
			<xs:documentation>Root entry</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CreatedBy" type="xs:string"/>
				<xs:element name="CreatedOn" type="xs:dateTime"/>
				<xs:element name="HarnessPartNumber" type="xs:string"/>
				<xs:element name="HarnessVersion" type="xs:string" minOccurs="0"/>
				<xs:element name="Name" type="xs:string" minOccurs="0"/>
				<xs:element name="Redlinings">
					<xs:complexType>
						<xs:sequence minOccurs="0" maxOccurs="unbounded">
							<xs:element name="Redlining" type="Redlining"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="RedliningGroups" minOccurs="0">
					<xs:complexType>
						<xs:sequence maxOccurs="unbounded">
							<xs:element name="RedliningGroup" type="RedliningGroup"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="Classification">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Confirmation"/>
			<xs:enumeration value="Error"/>
			<xs:enumeration value="GraphicalComment"/>
			<xs:enumeration value="Information"/>
			<xs:enumeration value="LengthComment"/>
			<xs:enumeration value="Question"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AssignedModule">
		<xs:sequence>
			<xs:element name="PartNumber" type="xs:string"/>
			<xs:element name="Abbreviation" type="xs:string"/>
			<xs:element name="Description" type="xs:string" minOccurs="0"/>
			<xs:element name="ZGS" type="xs:string" minOccurs="0"/>
			<xs:element name="KEM" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Redlining">
		<xs:sequence>
			<xs:element name="ID" type="xs:string"/>
			<xs:element name="ObjectId" type="xs:string">
				<xs:annotation>
					<xs:documentation>kbl id</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ObjectName" type="xs:string">
				<xs:annotation>
					<xs:documentation>kblId</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ObjectType" type="xs:string"/>
			<xs:element name="Classification" type="Classification"/>
			<xs:element name="Comment" type="xs:string"/>
			<xs:element name="IsVisible" type="xs:boolean"/>
			<xs:element name="LastChangedBy" type="xs:string"/>
			<xs:element name="LastChangedOn" type="xs:dateTime"/>
			<xs:element name="OnGroup" type="xs:IDREF" minOccurs="0"/>
			<xs:element name="AssignedModules" minOccurs="0">
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="AssignedModule" type="AssignedModule"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RedliningGroup">
		<xs:sequence>
			<xs:element name="ChangeTag" type="xs:string"/>
			<xs:element name="Comment" type="xs:string"/>
			<xs:element name="LastChangedBy" type="xs:string"/>
			<xs:element name="LastChangedOn" type="xs:dateTime"/>
		</xs:sequence>
		<xs:attribute name="ID" type="xs:ID" use="required"/>
	</xs:complexType>
</xs:schema>
